*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
p {
  font-size: 1.5em;
  font-family: monospace;
  margin-top: 20px;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

body{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top:30%;
   height: 100vh;
  background-image: url(./images/fundo.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  overflow: hidden;
}

h2 {
  color: white;
  position: relative;
  text-align: center;
  font-size: small;
  font-family: monospace;
  padding-top: 150px;
}


#openSheetsButton{
  background-color: rgb(6, 202, 6);
  font-family: monospace;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

  .form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
   }
   /* styling of Input */
   .input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }
   /* === if you want to do animated border on typing === */
   /* remove input:focus code and uncomment below code */
   /* input:valid ~ .input-border{
     width: 100%;
   } */


   .btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #40B3A2;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: .95;
  }
  
  .btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }

/*/////////////////////////////////////*/

  #loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    margin-top: 50px;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
  
  #loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }